<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      CoralPedia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="fade">
    <ion-toolbar color>
      <ion-title size="default">Reef Map</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"></div>
</ion-content>

<ion-card size="small">
<img size="small" src="https://static.wixstatic.com/media/c9c190_6a2e8c08968d4a84852e2e9952d82289~mv2.png/v1/fill/w_560,h_394,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c9c190_6a2e8c08968d4a84852e2e9952d82289~mv2.png" />
